
@{
    Layout = null;
}

<html lang="en">

@await Component.InvokeAsync("_HeadPartial")
<body>
    <div class="container-xxl bg-white p-0">

        @await Component.InvokeAsync("_SpinnerPartial")


        @await Component.InvokeAsync("_NawbarPartial")

        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/hotel-html-template/img/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Ekibimiz</h1>

                </div>
            </div>
        </div>

    </div>
    @await Component.InvokeAsync("_TeamPartial")
    <!-- JavaScript Libraries -->
    @await Component.InvokeAsync("_ScriptPartial")


</body>

</html>