@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="footer">
    <div class="copyright">
        <p>Copyright &copy; Designed & Developed by <b>Aytaç Akıcı</b>   2023</p>
    </div>
</div>
