
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="nav-header">
    <div class="brand-logo">
        <a href="/Elevator/Index/">
            
            
        </a>
    </div>
</div>